#binaries for programs and plugins 
*.exe
*.exe~
*.dll
*.so
*.dylib
*.cov
coverage.json
app/coverage.json

#Test binary, built with `go test -c`
*.test

#output of the go coverage tool , specifically when used whtih LiteIDE
*.output

built/*

#Automation
test/data/net_util_generated/*